{% load static %}
<!DOCTYPE html>
<html>

{% include 'inc/head.html' %}

<body style="background-image:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url({% static 'img/bg.jpg' %})">

    {% include 'inc/_nav.html' %}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-5"><span class="section-heading-upper">Приходите к нам</span><span class="section-heading-lower">мы открыты</span></h2>
                        <ul class="list-unstyled border-primary mx-auto list-hours mb-5">
                            <li class="d-flex list-unstyled-item list-hours-item">Понедельник<span class="ms-auto"><em>10:00 - 20:00</em></span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Вторник<span class="ms-auto"><em>10:00 - 20:00</em><br></span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Среда<span class="ms-auto"><em>10:00 - 20:00</em><br></span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Четверг<span class="ms-auto"><em>10:00 - 20:00</em><br></span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Пятница<span class="ms-auto"><em>10:00 - 20:00</em><br></span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Суббота<span class="ms-auto">10:00 - 17:00</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Воскресенье<span class="ms-auto">10:00 - 17:00<br></span></li>
                        </ul>
                        <p class="address mb-5"><em><strong>Проезд дорожников, 44</strong><span><br>Волгоград</span></em></p>
                        <p class="address mb-0"><small><em>По всем вопросам обращайтесь по телефону:</em></small><span><br>8-(945)-465-48-48</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section about-heading">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">порадуй себя! приходи к нам каждый день!</span><span class="section-heading-lower">информация о продукте</span></h2>
                            <p>Текст</p>
                            <p class="mb-0"><span>Еще супер важный текст для мотивации купить сладости)))&nbsp;</span><em></em><span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'inc/footer.html' %}

</body>

</html>
